<button>Register</button>
<a href="/loginPage">
    <button>
        Account Already? Login
    </button>

</a>
<input type="text" id="Email" name="Email" placeholder="Email -id "> 
<input type="text" id="Password" name="Password" placeholder="Password" > 
